## SI 618 HW1
⁃	Introduction:

⁃	Q1: Load the dataset.

In [1]:
import pandas as pd
import numpy as np

books = pd.read_csv('book_data.csv')
books.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393 pages,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370 pages,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449 pages,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334 pages,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...

In [2]:
# check data types
books.dtypes

book_authors          object
book_desc             object
book_edition          object
book_format           object
book_isbn            float64
book_pages            object
book_rating          float64
book_rating_count      int64
book_review_count      int64
book_title            object
genres                object
image_url             object
dtype: object

⁃	Q2: How many books are there?

In [3]:
len(books.index)

1141

⁃	Q3: How many books have more than 1 author?

In [4]:
len(books[books['book_authors'].str.contains('|', regex = False)])

144

⁃	Length:

⁃	Q4: You will want to create a new column with the integer value of the number of pages. (If you remove rows in this process, please state why.)

In [5]:
# remove the rows with NaN value because they are invalid data which will effect furthur processing
books = books.dropna(subset=['book_pages'])

In [6]:
# then create new column book_pages_int
books['book_pages_int'] = books['book_pages'].str.split(" ", n = 1, expand = True).loc[:,[0]]

In [7]:
books

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url,book_pages_int
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393 pages,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...,393
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370 pages,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...,370
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449 pages,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...,449
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334 pages,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...,334
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,Alyssa Brandon,A teen werewolf finally meets her destined sou...,NaN,Hardcover,9.780000e+12,304 pages,3.33,359,88,Bound to You,Fantasy|Paranormal|Romance|Fantasy|Shapeshifte...,https://images.gr-assets.com/books/1508489753l...,304
1137,Crystal Hana Kim,"An emotionally riveting debut novel about war,...",NaN,Hardcover,9.780000e+12,417 pages,3.69,1255,259,If You Leave Me,Historical|Historical Fiction|Fiction|Historic...,https://images.gr-assets.com/books/1508962755l...,417
1138,Leslie Cohen,This is the classic tale of boy meets girl: Gi...,NaN,Kindle Edition,NaN,320 pages,3.40,1300,272,This Love Story Will Self-Destruct,Romance|Fiction|Womens Fiction|Chick Lit|Conte...,https://images.gr-assets.com/books/1503757123l...,320
1139,Sarah Beth Durst,The battle between vicious spirits and strong-...,NaN,Hardcover,9.780000e+12,419 pages,3.86,907,205,The Queen of Sorrow,Fantasy|Young Adult|Adult,https://images.gr-assets.com/books/1513185111l...,419
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,https://images.gr-assets.com/books/1510586092l...,304

In [20]:
#convert to integer
books['book_pages_int'] = books['book_pages_int'].astype(str).astype(int)

⁃	Q5: What is the average number of pages?

In [21]:
books.book_pages_int.mean()

327.9000933706816

⁃	Q6: What is the median number of pages?

In [10]:
books.book_pages_int.median()

328.0

⁃	Q7: Does having more than 1 author result in a longer book on average? What is the average number of pages for books written by a single author? What is it for when there are at least two authors? (We will do more careful analysis for these types of questions later. For now, we just want you to practice using some DataFrame functionalities).

In [22]:
#Does having more than 1 author result in a longer book on average? 
books[books['book_authors'].str.contains('|', regex = False)].book_pages_int.mean()

284.02962962962965

No, having more than 1 author doesn't result in a longer book on average

In [23]:
#What is the average number of pages for books written by a single author?
books[~books['book_authors'].str.contains('|', regex = False)].book_pages_int.mean()

334.2275641025641

In [24]:
#What is it for when there are at least two authors?
books[books['book_authors'].str.contains('|', regex = False)].book_pages_int.mean()

284.02962962962965

⁃	Ratings:

⁃	Q8: How many books have at least a rating of 4.25?

In [14]:
len(books[books.book_rating >= 4.25])

274

⁃	Q9: How about at most a rating of 4?

In [15]:
len(books[books.book_rating <= 4])

477

⁃	Q10: Discretize the ratings. (1,2,3,4,5).

In [25]:
pd.cut(books.book_rating,[0,1,2,3,4,5])

0       (4, 5]
1       (4, 5]
2       (4, 5]
3       (3, 4]
4       (4, 5]
         ...
1136    (3, 4]
1137    (3, 4]
1138    (3, 4]
1139    (3, 4]
1140    (3, 4]
Name: book_rating, Length: 1071, dtype: category
Categories (5, interval[int64]): [(0, 1] < (1, 2] < (2, 3] < (3, 4] < (4, 5]]

⁃	Q11: For each of the discretized ratings (1,2,3,4,5), what is the average number of pages?

In [26]:
books.groupby(pd.cut(books.book_rating, [0,1,2,3,4,5])).mean()

,book_isbn,book_rating,book_rating_count,book_review_count,book_pages_int
book_rating,,,,,
"(0, 1]",NaN,NaN,NaN,NaN,NaN
"(1, 2]",NaN,NaN,NaN,NaN,NaN
"(2, 3]",9.780000e+12,2.916667,1448.666667,251.333333,285.333333
"(3, 4]",9.780000e+12,3.732257,5894.021097,925.540084,319.407173
"(4, 5]",9.780031e+12,4.257542,5992.313131,912.257576,334.892256

⁃	Q12: How about the average number of reviews?

In [18]:
books.book_review_count.mean()

916.2847805788982

⁃	Genres:

⁃	Q13: Create a new DataFrame, exploding the rows with multiple genres such that it is one row per genre/book.

In [56]:
new_df = pd.DataFrame(books['genres'].str.split("|", expand=True).values.tolist()).stack()

In [63]:
new_df1 = pd.DataFrame(new_df).reset_index(level=1,drop=True)

In [74]:
new_df2 = new_df1.loc[:,[0]]
new_books = books.join(new_df2)

In [76]:
new_books

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url,book_pages_int,0
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435,Fiction
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435,Historical
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435,Historical Fiction
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435,Audiobook
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,435,Historical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,Alyssa Brandon,A teen werewolf finally meets her destined sou...,NaN,Hardcover,9.780000e+12,304 pages,3.33,359,88,Bound to You,Fantasy|Paranormal|Romance|Fantasy|Shapeshifte...,https://images.gr-assets.com/books/1508489753l...,304,NaN
1137,Crystal Hana Kim,"An emotionally riveting debut novel about war,...",NaN,Hardcover,9.780000e+12,417 pages,3.69,1255,259,If You Leave Me,Historical|Historical Fiction|Fiction|Historic...,https://images.gr-assets.com/books/1508962755l...,417,NaN
1138,Leslie Cohen,This is the classic tale of boy meets girl: Gi...,NaN,Kindle Edition,NaN,320 pages,3.40,1300,272,This Love Story Will Self-Destruct,Romance|Fiction|Womens Fiction|Chick Lit|Conte...,https://images.gr-assets.com/books/1503757123l...,320,NaN
1139,Sarah Beth Durst,The battle between vicious spirits and strong-...,NaN,Hardcover,9.780000e+12,419 pages,3.86,907,205,The Queen of Sorrow,Fantasy|Young Adult|Adult,https://images.gr-assets.com/books/1513185111l...,419,NaN
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,https://images.gr-assets.com/books/1510586092l...,304,NaN

⁃	Q14: What is the average rating of books from different genres? What is the median?

In [77]:
new_books.groupby(0).book_rating.mean()

0
16th Century                      4.190000
Abandoned                         4.076667
Abuse                             4.010000
Academic                          3.718000
Activism                          4.190000
                                    ...
Young Adult                       4.025833
Young Adult Contemporary          4.115714
Young Adult Fantasy               3.890000
Young Adult Historical Fiction    3.670000
Young Adult Romance               3.600000
Name: book_rating, Length: 261, dtype: float64

In [78]:
new_books.groupby(0).book_rating.median()

0
16th Century                      4.190
Abandoned                         3.985
Abuse                             3.995
Academic                          3.810
Activism                          4.190
                                  ...
Young Adult                       4.070
Young Adult Contemporary          4.080
Young Adult Fantasy               3.880
Young Adult Historical Fiction    3.670
Young Adult Romance               3.600
Name: book_rating, Length: 261, dtype: float64

⁃	Q15: What is the average length of books from different genres? What is the median?

In [80]:
new_books.groupby(0).book_pages_int.mean()

0
16th Century                      128.000000
Abandoned                         300.166667
Abuse                             337.000000
Academic                          343.600000
Activism                          240.000000
                                     ...
Young Adult                       341.884259
Young Adult Contemporary          410.857143
Young Adult Fantasy               301.800000
Young Adult Historical Fiction    368.000000
Young Adult Romance               146.000000
Name: book_pages_int, Length: 261, dtype: float64

In [81]:
new_books.groupby(0).book_pages_int.median()

0
16th Century                      128.0
Abandoned                         318.0
Abuse                             340.0
Academic                          352.0
Activism                          240.0
                                  ...
Young Adult                       343.5
Young Adult Contemporary          359.0
Young Adult Fantasy               296.0
Young Adult Historical Fiction    368.0
Young Adult Romance               146.0
Name: book_pages_int, Length: 261, dtype: float64